.All_Settings {
	display: grid;
	align-items: start;
	justify-content: center;
	grid-template-rows: auto auto 1fr;
	grid-template-columns: repeat(3, 1fr);
    padding: 2em 0;
    background: #262626;
}
